In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_df = pd.read_csv('movies.csv',usecols=['movieId','title'],dtype={'movieId': 'int32', 'title': 'str'})
rating_df=pd.read_csv('ratings.csv',usecols=['userId', 'movieId', 'rating'],
    dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [3]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [4]:
rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [5]:
df=pd.merge(rating_df,movies_df,on='movieId')
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [6]:
combine_movie_rating = df.dropna(axis = 0, subset = ['title'])

In [8]:
combine_movie_rating.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [7]:
movie_ratingCount = (combine_movie_rating.
     groupby(by = ['title'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
     [['title', 'totalRatingCount']]
    )
movie_ratingCount.head(30)

                                                title  totalRatingCount
0                                          '71 (2014)                 1
1             'Hellboy': The Seeds of Creation (2004)                 1
2                              'Round Midnight (1986)                 2
3                                 'Salem's Lot (2004)                 1
4                           'Til There Was You (1997)                 2
5                     'Tis the Season for Love (2015)                 1
6                                  'burbs, The (1989)                17
7                                'night Mother (1986)                 1
8                         (500) Days of Summer (2009)                42
9                      *batteries not included (1987)                 7
10                          ...All the Marbles (1981)                 1
11                      ...And Justice for All (1979)                 3
12        00 Schneider - Jagd auf Nihil Baxter (1994)                 1
13                                  1-900 (06) (1994)                 1
14                                          10 (1979)                 4
15                              10 Cent Pistol (2015)                 2
16                         10 Cloverfield Lane (2016)                14
17                            10 Items or Less (2006)                 3
18                  10 Things I Hate About You (1999)                54
19                                    10 Years (2011)                 1
20                                   10,000 BC (2008)                17
21                                   100 Girls (2000)                 4
22                                 100 Streets (2016)                 1
23                              101 Dalmatians (1996)                47
24  101 Dalmatians (One Hundred and One Dalmatians...                44
25  101 Dalmatians II: Patch's London Adventure (2...                 1
26               101 Reykjavik (101 Reykjavík) (2000)                 1
27                              102 Dalmatians (2000)                 9
28                                 10th & Wolf (2006)                 1
29                           10th Kingdom, The (2000)                 2

In [9]:
rating_with_totalratingcount=combine_movie_rating.merge(movie_ratingCount,left_on='title',right_on='title',how='left')
rating_with_totalratingcount.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [10]:
print(movie_ratingCount['totalRatingCount'].describe())

count    9719.000000
mean       10.375141
std        22.406220
min         1.000000
25%         1.000000
50%         3.000000
75%         9.000000
max       329.000000
Name: totalRatingCount, dtype: float64

In [11]:
popularity_threshold = 50
rating_popular_movie= rating_with_totalratingcount[rating_with_totalratingcount['totalRatingCount']>popularity_threshold]
rating_popular_movie.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [12]:
rating_popular_movie.shape

(40712, 5)

In [14]:
#creating pivot matrix
movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey (1968),0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,5.0,0.0,3.0,0.0,4.5
28 Days Later (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,5.0
300 (2007),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,4.0

In [15]:
#convert this pivot table in array metrices
#we will plot every movie using knn which uses 
#euclidean distannce and we will cosine similarity parallely with knn(nearest neighbour)
#nearest neighbour is unsupervised machine learning,works different from knn
#The CSR matrix format stores only the non-zero elements of the matrix

In [16]:
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [17]:
movie_features_df.shape

(437, 606)

In [18]:
#testing my recommendation system

In [20]:
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
#The kneighbors method returns two arrays
#distances: An array containing the distances between the query movie and its k nearest neighbors. These distances are typically 
# based on the chosen similarity metric (cosine similarity
#indices: An array containing the indices of the k nearest neighbors in the original
# dataset (in this case, the indices represent the movies)
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors=6)
#.kneigbors identify similar movie
#the .reshape(1, -1) operation is used to convert a 1D feature vector into a 2D format

195

In [21]:
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey (1968),0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,5.0,0.0,3.0,0.0,4.5
28 Days Later (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,5.0
300 (2007),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,4.0

In [24]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for Heat (1995):

1: Rock, The (1996), with distance of 0.4772452116012573:
2: Twelve Monkeys (a.k.a. 12 Monkeys) (1995), with distance of 0.4893230199813843:
3: Léon: The Professional (a.k.a. The Professional) (Léon) (1994), with distance of 0.5028598308563232:
4: Casino (1995), with distance of 0.5071980357170105:
5: Fargo (1996), with distance of 0.5140816569328308: